{% extends "app/base.html" %}
{% load widget_tweaks %}


{% block content %}
<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        
        <h5 class="card-title text-center">sign-up</h5>
        <form class="form-auth" method="post">
            {% csrf_token %}  
            <div class="form-label-group">
                {% render_field form.username class="form-control" placeholder="username" %}
            </div>
            <div class="form-label-group">
                {% render_field form.email class="form-control" placeholder="email" %}
            </div>
            <div class="form-label-group">
                {% render_field form.password1 class="form-control" placeholder="password1" %}
            </div>
            <div class="form-label-group">
                {% render_field form.password2 class="form-control" placeholder="password2" %}
            </div>
            <div class="text-center">
                <button class="btn btn-primary" class="submit">sign-up</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}


